#diagram { display: none }

/* This is the table of contents (TOC) NAV element at the top. Done inline for brevity. */
#toc {
    display: inline-block;
    list-style-type: none;
}

#toc li {
    display: inline-block;
    margin: 0px;
    padding: 0px 0.5em;
}

/* the default captions are centered, which looks weird */
#course_list table caption { text-align: left; }

/* This is the list of courses. No need for bullets, I think. */

#course_list {
    padding: 0px;
    list-style: none
}

/* The span that holds the text preamble to the list of links */
.prereqs span { padding-left: 0.5rem; }

/* These are the hyperlinks to pre-req classes. We want them arranged horizontally. */
.prereq_links {
    display: inline-block;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

.prereq_links li {
    display: inline-block;
    margin: 0px;
    padding: 0px 0.5rem;
}
