body {
    margin: 8pt;
}

h1 {
   width: 500px;
   margin: 0 auto;
   font-size: 18pt;
}

#access_link {
    padding: 0pt 6pt;
}

#diagram {
    width: 100vw;
    min-width: 9in;
    margin: 0pt;
    padding: 8pt;
    box-sizing: border-box;
    overflow: show;
    position: relative;
}

#diagram svg {
    width: 100%;
}

#desc {
    /* position + shape set by javascript */
    overflow: auto;
    margin: 0pt;
    padding: 6pt;
    box-sizing: border-box;
    border: 1pt solid black;
}

#desc>div {
    margin: 4pt;
    font-weight: bold;
}

#desc>.term_div {
    margin: 4pt;
    font-weight: normal;
}



/* Only the description is not bolded */
#desc .description {
    font-weight: normal;
}


.node {
    fill: white;
    font-size: 7pt !important;
    fill-opacity: 1;
    stroke-opacity: 1;
    transition-property: fill-opacity, stroke-opacity;
    transition-duration: 0.25s;
}

text {
    fill: #000;
}

.core text, .required text {
    fill: black;
    font-weight: bold;
}

.edge {
    fill-opacity: 1;
    stroke-opacity: 1;
    transition-property: fill-opacity, stroke-opacity;
    transition-duration: 0.25s;
}

.recommended path {
    stroke: #249;
    stroke-dasharray: 3, 4;
}

.recommended polygon {
    fill: #249;
    stroke: #249;
}

.opt {
}

.option path {
    stroke-dasharray: 9, 2;
}

.corequisite path {
    stroke: #777;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-dasharray: 1, 4;
}

.corequisite polygon {
    fill: #777;
    stroke: #777;
}

.invisible {
    display: none;
}

.notoffered polygon {
    fill: #eee;
    stroke-dasharray: 2, 1;
    stroke: #888;
}

.notoffered text {
    fill: #888;
}

.fall polygon {
    fill: #fc8;
}

.spring polygon {
    fill: #8cf;
}

// both is the default
.both polygon {
    fill: #fff;
}

a:link, a:visited {
    text-decoration: underline;
}

a:link {
    color: #02a;
}

a:visited {
    color: #86c;
}
