<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>CS Course Prerequisites Diagram</title>
    <!-- more accessible alternative -->
<style>
  {{css}}
  
</style>
<script defer src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous" onload="console.log('jquery');"></script>
<script type="module">
// modules are "defer" by default, and are loaded in order, so this will be *after* jquery.


{{js}}
</script>
</head>
<body>
    <h1>{{title}}</h1>

    <!-- Note: this is hidden by CSS -->
    <div id="diagram">
      {{svg}}
      <div id="desc">
          A diagram of courses and their prerequisites, illustrating the
          information shown in course descriptions below.
      </div>
    </div>

  <h2>List of Courses</h2>
  <nav>
    <p><a href="#course_list">skip to list of course information</a></p>
    <h3>Table of Contents</h3>
    <p>List of Links to Course information.</p>
    <ol id="toc">
      {% for crs,info in courses %}
      <li><a href="#{{crs}}">{{crs}}</a></li>
      {% endfor %}
    </ol>
  </nav>

  <ul id="course_list">
    <!-- list of tuples -->
    {% for crs,info in courses %}
    <li id="{{crs}}">
      <h3 class="crs">
        <a href="{{info.url or info.URL or ("https://cs.wellesley.edu/~" + crs)}}" target="course_page">{{crs}}</a>
      </h3>
      <p class="instructors">
      Recent and/or future instructors:
      {% for name, url in info.professors %}
        <a href="{{url}}" target="professor_page">{{name}}</a>{% if not loop.last%},{%endif%}
      {% endfor %}
      </p>
      <!-- marked safe so that URLs like the CS 230 permission form will work !-->
      <p class="description">{{info.description | safe}}</p>
      <table>
	  <caption>{{crs}} information</caption>
      {#
        This is just when we found the course info, not when it's
        offered...
        <tr> <th scope="row">semester</th> <td>{{info.semester}}</td> </tr>
      #}
	  <tr> <th scope="row">offered</th> <td>{{info.offered_string}}</td> </tr>
	  <tr> <th scope="row">details</th> <td>{{info.details}}</td> </tr>
	  <tr> <th scope="row">meeting info</th> <td>{{info.meeting_info}}</td> </tr>
	  <tr> <th scope="row">distributions</th> <td>{{info.distributions}}</td> </tr>
	  <tr> <th scope="row">linked courses</th> <td>{{info.linked_courses}}</td> </tr>
	  <!-- the .prereqs element will have hyperlinks added by JS code. -->
	  <tr> <th scope="row">prerequisites</th> <td class="prereqs">{{info.prereqs}}</td> </tr>
	  <tr> <th scope="row">extra info</th>
           <td>
             {% for extra in info.extra_info %}
               {% if extra %}
                 {{extra}}<br>
               {% endif %}
             {% endfor %}
           </td> </tr>
	</table>
    </li>
    {% endfor %}
  </ul>
</body>
</html>
